.appcontainer {

}

div .app {

	height: 100vh;
	    /* The image used */
    

    /* Full height */
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	
	display: grid;

	grid-template-rows: 80px auto auto;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". header ."
                         ". main .  "
                         " . . . ";
                   
}

.header {
	background-color: black;
	opacity: 0.5;
	margin: 0;
	padding-top: 20px;
	border-radius: 7px;

	grid-area: header;

	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 180px auto auto auto;
	grid-template-areas: "logo nav nav nav";


}

.header:hover {
	opacity: 0.6;
}

.header ul {
	margin: 0;
	padding: 0;
	
}

.header li {
	display: inline;
	
	
}

.header a {
	padding: 10px 30px 10px 20px;
	
}

.header-logo {
	grid-area: logo;
}

.header-navigation {
	grid-area: nav;
	margin: 0;
}


div .home {
	background-color: none;
	grid-area: main;
	display: grid;
	justify-content: center;
	justify-items: center;


	grid-template-rows: 3fr 2fr 5fr;
    grid-template-columns: auto;
    grid-template-areas: "home-title"
                         "home-txt"
                         "home-btn";

}

.home-title {

	grid-area: home-title;
	align-self: end;

}

.home-txt {
	grid-area: home-txt;
	align-self: center;
	

	
}

.home-btn {
	grid-area: home-btn;
	
}

div .aboutme {

	
	background-color: rgba(0,0,0, 0.4);
	box-shadow: 0px 0px 50px 30px rgba(0,0,0, 0.4);
	border-radius: 7px;

	
	grid-area: main;

	display: grid;
	grid-template-rows: 2fr auto 3fr;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "about-title about-title"
						 "about-pic about-txt"
						 "about-pic about-contacts"; 
}

.about-title {
	grid-area: about-title;
	

	

}
.about-pic {
	grid-area: about-pic;
	z-index: 2;	
}

.about-pic img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 30%;
	box-shadow: -5px -5px 40px 20px rgba(0,0,0, 0.7);
}

.about-txt {
	grid-area: about-txt;
	z-index: 1;

	
}

.about-txt p {
	width: 50%;
	margin-left: 30px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 20px 20px 40px 60px rgba(255,255,255, 0.4);
}

.about-contacts {
	grid-area: about-contacts;
}


div .projects {
	background-color: yellow;
	grid-area: main;

	display: grid;
	grid-template-rows: 2fr 8fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "projects-title projects-contacts"
						 "projects-area projects-area";
}

.projects-title {
	grid-area: projects-title;
}	

.projects-contacts {
	grid-area: projects-contacts;
}

.projects-area {
	grid-area: projects-area;
	display: flex;
}

.project {

	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;

	width: 50%;
	height: 50%;
}

.project-pic {
	width: 50%;
}

.project-content {
	width: 50%;
}

div .blog {
	background-color: yellow;
	grid-area: main;

	display: grid;
	grid-template-rows: 10fr;
	grid-template-columns: 2fr 7fr 3fr;
	grid-template-areas: "blog-contacts blog-area blog-search"
						 " . blog-area ."
						 " . blog-area .";
}

.blog-contacts {
	grid-area: blog-contacts;

}

.blog-area {
	grid-area: blog-area;

	display: grid;
	grid-template-rows: 2fr 7fr 1fr;
	grid-template-columns: 6fr 6fr;
	grid-template-areas: "blog-title . "
						 "blog-txt blog-txt"
						 ". blog-nav";


}

.blog-title {
	grid-area: blog-title;
}

.blog-txt {
	grid-area: blog-txt;
}

.blog-nav {
	grid-area: blog-nav;
}


.blog-search {
	grid-area: blog-search;

}


div .contactme {
	background-color: yellow;
	grid-area: main;

	display: grid;
	grid-template-rows: 2fr 8fr;
	grid-template-columns: auto;
	grid-template-areas: "contact-title"
						 "contact-form";
}

.contact-title {
	grid-area: contact-title;
}

.contact-form {
	grid-area: contact-form;
	
}

